<!-- your html code here -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 pb-2 pt-1">
  <div class="container-fluid">
    <a style="color: rgba(255, 255, 255, .55);" class="navbar-brand fs-5 pe-2" href="#">Start boostrap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link form-text pe-3 pb-2" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link form-text pe-3 pb-2" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link form-text pe-3 pb-2" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link form-text pb-2" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> 