<div class="bg-light m-0 p-0 overflow-hidden">
<div class="container bg-light">
<h2>Portfolio</h2>
<p class="text-dark fs-5 fw-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam vel quo optio! Suscipit amet tenetur sint animi aperiam aspernatur ut maiores natus, odio officia perferendis, dolore veritatis ab itaque vel.</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100 border-0 bg-light">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body px-0">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text form-text text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolores dignissimos earum porro, maxime dolorem totam optio fugiat esse fuga!</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 border-0 bg-light">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body px-0">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text form-text text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolores dignissimos earum porro, maxime dolorem totam optio fugiat esse fuga!</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 border-0 bg-light">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body px-0">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text form-text text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolores dignissimos earum porro, maxime dolorem totam optio fugiat esse fuga!</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>